{% extends 'base.html'%}

{% block title %} Dashboard {% endblock %}

{% block content %} 
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <button id="btnCrearPdf" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</button>
    </div>


    <div class="row">
        
        <!-- saludo al usuario -->
        <div class="col-lg-4">
            <div class="card-body p-0 mt-lg-2 mt-0">
                <h3 class="mb-3">Hola {{user}}, Buenos Dias!</h3>
                <p class="mb-0 mr-4">Tu Dashboard le ofrece vistas del rendimiento de tu negocio.</p>
            </div>
        </div>

        <!-- ventas -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Ventas Totales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">10000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ingresos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ingresos Totales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- compras recientes -->
    <div class="row">
        
        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border-left-primary shadow mb-4" >
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Compras Recientes</h6>
                </div>
                    <div class="card-body">
                    <!-- Dropdown - Alerts -->
                        <div class="d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500 font">Diciembre 12, 2021</div>
                                <span >¡Se han depositado $290.29 en su cuenta!</span>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">Diciembre 7, 2021</div>
                                ¡Se han depositado $290.29 en su cuenta!
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center" href="/add/producto">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">Diciembre 2, 2021</div>
                               <p>¡Se han depositado $290.29 en su cuenta!</p> 
                            </div>
                        </div>
                        <hr>
                        <a class="dropdown-item text-center small text-gray-500" href="#">ver todas las compras</a>
                </div>
            </div>
        </div>
    </div>

    </div> 
</div>
<script src="{{ url_for('static', filename='js/pdf.js')}}"></script>
<script src="{{ url_for('static', filename='js/html2pdf.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/chart-area-demo.js')}}"></script>
{% endblock %}