<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <title>Registro</title>
</head>
    <body class> 
        <div class="container">
            <div class="row">
                <form class="form" action="/registro" method="post">
                    <input type="text" name= "usuario" placeholder="Ingrese nombre">
                    <input type="password" name= "contrasena" placeholder="Contraseña">
                    <!-- <input type="email" name= "Correo" placeholder="Ingrese el correo">
                    <input type="text" name= "Correo" placeholder="Ingrese la contraseña"> -->
                    <input class="botons" type="submit" value="Registrar">
                    <p><a href="/login">Ya tengo una cuenta</a></p>
                </form>
            </div>
        </div>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    </body>
</html>